<h2>Sign up a NEW Organisation</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<% f.object.organisation = Organisation.new %>

  <%= f.fields_for :organisation do |organisation_fields| %>
    <div><%= organisation_fields.label :name %>
    <%= organisation_fields.text_field :name %></div>
  <% end %>

  <%= f.hidden_field :is_admin, :value => true %>

  <div><%= f.label :user_type_id %>
  <%= f.collection_select :user_type_id, UserType.all, :id, :name %></div>

  <div><%= f.label :first_name %>
  <%= f.text_field :first_name %></div>

  <div><%= f.label :last_name %>
  <%= f.text_field :last_name %></div>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up", :class => 'btn btn-primary' %></div>
<% end %>

<%= render "links" %>
