<div id="signup-consumer">
  <h2>Sign up as a Consumer</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <%= f.hidden_field :is_admin, :value => true %>

    <%= f.hidden_field :user_type_id, :value => UserType.get_consumer.id %>

    <div><%= f.label :first_name %>
    <%= f.text_field :first_name %></div>

    <div><%= f.label :last_name %>
    <%= f.text_field :last_name %></div>

    <div><%= f.label :email %>
    <%= f.email_field :email %></div>

    <% if @user.password_required? %>
      <div><%= f.label :password %>
      <%= f.password_field :password %></div>

      <div><%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %></div>
    <% end %>

    <div><%= f.submit "Sign up", :class => 'btn btn-primary' %></div>
  <% end %>

  <%= render "links" %>
</div>
