<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @contact.name %>
</p>

<% @contact.addresses.each do |address| %>
  <p>
    <b>Address:</b><br />
    <%= address.full_address %><br />
    <%= address.coordinates %><br />
  </p>

  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{address.coordinates[1]}%2C#{address.coordinates[0]}" %>
  
<% end %>

<% @contact.phones.each do |phone| %>
  <p>
    <b><%= phone.phone_type %> Phone:</b>
    <%= phone.phone_number %>
  </p>
<% end %>

<br />



<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= link_to('Get Quote', new_policy_path(:product_id => product.id)) %></td>
  </tr>
<% end %>
</table>



<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
