<%= content_for :head do %>
  <%= javascript_include_tag "product_editor" %>
<% end %>
<p id="notice"><%= notice %></p>
<div id="product-structure">
    <h2>Product Structure</h2>
    <div id="product-id" style="display:none"><%= @product.id %></div>
    <div id="version-id" style="display:none"><%= @version.id %></div>
    <div id="sections"></div>
    <div id="current-section"></div>
    <div id="questions"></div>
    <div id="current-question"></div>
</div>
<div id="menu">
    <h1>Menu</h1>
    <div id="actions">
        <h2>Actions</h2>
        <ul>
            <li><a id="action-save">Save</a></li>
        </ul>
    </div>
    <h2>Section</h2>
    <div id="context-menu-section"></div>
    <div id="suggested-sections">
        <h3>Suggested sections</h3>
        <div id="suggested-sections-list"></div>
    </div>
    <div id="suggested-questions">
        <h3>Suggested questions</h3>
        <div id="suggested-questions-list"></div>
    </div>
    <h2>Question</h2>
    <div id="context-menu-question"></div>
</div>
