<%= content_for :head do %>
  <%= stylesheet_link_tag "product_editor" %>
  <%= javascript_include_tag "product_editor" %>
<% end %>
<div id="product-structure">
    <h2>Product Structure</h2>
    <div id="product-id" style="display:none"><%= @product.id %></div>
    <div id="version-id" style="display:none"><%= @version.id %></div>
    <div id="sections" style="display: none;"></div>
    <div id="current-section"></div>
    <div id="questions"></div>
    <div id="current-question"></div>
</div>
<div id="menu">
    <h1>Menu</h1>
    <div id="notice" class="alert" style="display:none">
      <div id="notice-content"></div>
    </div>
    <div id="actions">
        <h2>Product</h2>
        <a id="action-save" class="btn">
          <i id="action-save-icon" class="icon-ok"></i>
          Save this version
        </a>
    </div>
    <div id="menu-tabs">
      <ul class="nav nav-tabs">
        <li id="menu-tabs-sections-tab" class="active" data-toggle="tab" data-target="#menu-tab-sections"><a>Sections</a></li>
        <li id="menu-tabs-questions-tab" data-toggle="tab" data-target="#menu-tab-questions"><a>Questions</a></li>
      </ul>
    </div>
    <div class="tab-content">
      <div id="menu-tab-sections" class="tab-pane active">
        <div id="suggested-sections" style="display: none;"></div>
        <div id="custom-sections" style="display: none;"></div>
      </div>
      <div id="menu-tab-questions" class="tab-pane">
        <div id="suggested-questions" style="display: none;"></div>
        <div id="custom-questions" style="display: none;"></div>
      </div>
    </div>
</div>
