<%= content_for :head do %>
  <%= javascript_include_tag "product_editor" %>
<% end %>
<p id="notice"><%= notice %></p>
<div id="product-structure">
    <h2>Product Structure</h2>
    <div id="product-id" style="display:none"><%= @product.id %></div>
    <div id="version-id" style="display:none"><%= @version.id %></div>
    <div id="section-tree"></div>
    <div id="section-detail"></div>
</div>
<div id="menu">
    <div id="actions">
        <h2>Actions</h2>
        <ul>
            <li><a id="action-save" href="javascript: return false;">Save</a></li>
        </ul>
    </div>
    <div id="suggestions">
        <h2>Suggestions</h2>
        <div id="suggestions-sections">
            <p>Sections</p>
            <div id="sections"></div>
        </div>
        <div id="suggestions-questions">
            <p>Questions</p>
            <div id="questions"></div>
        </div>
    </div>
</div>
