<p id="notice"><%= notice %></p>

<div id="user-profile" class="well">
  <div id="user-profile-image">
    <img src="http://placehold.it/160x180"/>
  </div>

  <div id="user-profile-details">
    <h2>
      <%= @user.full_name %>
      <%= link_to 'Edit', edit_user_path(@user), :class => 'edit-profile' %>
    </h2>
    <ul>
      <li>
        <i class="icon-envelope"></i>
        <span class="detail-label">Email:</span>
        <span class="detail-content"><%= link_to @user.email %></span>
      </li>
    </ul>

    <div id='authentications'>
      <h3>Connect your account</h3>
      <p>Contact search and creation will be assisted using contact information from your connected social networks.</p>
      <ul>
        <% Authentication.available_providers.each do |auth, display_name| %>
          <% link = if @user.authenticated_with?(auth) then "#" else "/auth/#{auth}" end %>
          <li id="authentication-<%= auth.to_s %>">
            <a href="<%= link %>" class="btn authentication">
              <%= image_tag "authentications/#{auth.to_s}_32.png", :size => "32x32", :class => 'authentication-icon' %>
              <span class="authentication-name"><%= display_name %></span>
              <% if @user.authenticated_with?(auth) %>
                <span class="authentication-connected">
                  <i class="icon-ok-sign"></i>
                  Connected
                </span>
              <% end %>
              <div style="clear: both"></div>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div style="clear: both"></div>
</div>
