<p id="notice"><%= notice %></p>

<div id="user-profile" class="well">
  <div id="user-profile-image">
    <img src="http://placehold.it/160x180"/>
  </div>

  <div id="user-profile-details">
    <h2>
      <%= @user.full_name %>
      <%= link_to 'Edit', edit_user_path(@user), :class => 'edit-profile' %>
    </h2>
    <ul>
      <li>
        <i class="icon-envelope"></i>
        <span class="detail-label">Email:</span>
        <span class="detail-content"><%= link_to @user.email %></span>
      </li>
    </ul>

    <div id='authentications'>
      <h3>Connect your account</h3>
      <p>Contact search and creation will be assisted using contact information from your connected social networks.</p>
      <ul>
	<% auth_ids = Hash.new %>
	<% @user.authentications.each do |authentication| %>
	  <% auth_ids[authentication.provider] = authentication._id.to_s %>
	<% end %>
        <% Authentication.available_providers.each do |auth, display_name| %>
          <% link = if @user.authenticated_with?(auth) then "#" else "/auth/#{auth}" end %>
          <li id="authentication-<%= auth.to_s %>">
            <a href="<%= link %>" class="btn authentication">
              <%= image_tag "authentications/#{auth.to_s}_32.png", :size => "32x32", :class => 'authentication-icon' %>
              <span class="authentication-name"><%= display_name %></span>
              <% if @user.authenticated_with?(auth) %>
                <span class="authentication-connected">
                  <i class="icon-ok-sign"></i>
                  Connected
                </span>
              <% end %>
              <div style="clear: both"></div>
            </a>
	    <% if auth_ids.has_key?(auth.to_s) %>
	      <% disconnect_url = "/authentications/" + auth_ids[auth.to_s] %>
	      <%= link_to "Disconnect", disconnect_url, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove" %>	    
	    <% end %>
          </li>
        <% end %>
      </ul>
    </div>
      <div id="contacts-import">
	<h3>Import Contacts</h3>
	<a class="btn" data-toggle="modal" href="#myModal" >Get Facebook Contacts</a>

	
      </div>
  </div>

  <div style="clear: both"></div>
  <div class="modal hide" id="myModal">
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>Facebook Contacts</h3>
    </div>
    <div class="modal-body">
    <% if @facefriends %>
	<%= form_tag '/imports', :id => "facebook_import" do %>
	    <% i = 0 %>
	    <a id="select_all" class="btn">Select All</a>
	    <a id="deselect_all" class="btn">Deselect All</a>
	    <% @facefriends.each do |friend| %>		
                <% s = i.to_s %>
                <% id = "faces_" + s + "_name" %>
                <% check_id = "faces_" + s + "_check" %>
                <% name = "faces[" + s + "][name]" %>
                <% face_id = "faces[" + s + "][face_id]" %>
                <% check_name = "faces[" + s + "][check]" %>

                <%= label_tag name, friend["name"], :id => id %>
                <%= hidden_field_tag name, friend["name"], :id => id %>
                <%= hidden_field_tag face_id, friend["facebook_id"], :id => id %>
                <%= check_box_tag check_name %>

		<% i = i + 1 %>
	    <% end %>
	<% end %>
    <% else %>
        Please connect facebook account to import facebook friends.  Thanks!
    <% end %>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <a id="facebook_import_submit" href="#" class="btn btn-primary">Import from Facebook</a>
    </div>
  </div>
</div>
