<!DOCTYPE html>
<html>
<head>
  <title>Onelement</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body class="main-application">

<h1> TEST </h1>

<%= yield %>

</body>
</html>
