<!DOCTYPE html>
<html>
<head>
  <title>Onelement</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div id="logo-placeholder">
    <a class="brand" href="/">
      <% if current_user.user_type.name == "Consumer" %>
	<%= current_user.full_name %>
      <% else %>
	<%= current_user.organisation.name %>
      <% end %>      
    </a>
  </div>
  <div id="sitewide-search">
    <%= form_tag contacts_path, :method => 'get', :id => 'search_form', :class => 'navbar-search' do %>
        <%= text_field_tag :search, params[:search], :id => 'autocomplete', :class => 'search-query', value: "", placeholder: "Search..." %>
        <%= submit_tag "", :name => nil , :id => 'searchbutton' %>
	<i class="icon-search icon-white"></i>
	<i class="icon-plus icon-white disabled"></i>
    <% end %>
  </div>
  <div id="top-navigation">
    <ul class="nav">
      <li>
	<% if can? :read, Organisation %>
	  <%= link_to 'Organisations', organisations_path %>
	<% end %>
      </li>
      <li>
	<% if can? :create, Entity %>
	  <%= link_to 'Entities', entities_path %>
	<% end %>
      </li>
      <li>
	<% if current_user.user_type.name == "Consumer" %>
	<% else %>
	  <% if can? :read, User %>
	    <%= link_to 'Manage Users', user_index_path %>
	  <% end %>
	<% end %>	
      </li>
    </ul>
  </div>
  <div id="account-info">
    <ul class="nav pull-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <%= current_user.first_name %> <%= current_user.last_name %>
      <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
	<li><%= link_to 'Profile', user_path(current_user.id) %></li>
	<li class="divider"></li>
	<li><%= link_to('Log out', destroy_user_session_path, :method => :delete) %></li>
      </ul>
    </li>
    </ul>
  </div>
</div>

<div id="container">
  <%= yield %>
</div>

</body>
</html>
