<!DOCTYPE html>
<html>
<head>
  <title>Dandelion</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBu7u-XoCXlVzWJoQYJIUCmdfhZXXMqwIQ&sensor=true"></script>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <link rel="shortcut icon" href="/favicon.ico" />
  <script type="text/javascript"> if (!window.console) console = {log: function() {}}; </script>
</head>
<body>

<div id="header">
  <div id="logo-placeholder">
    <a class="brand" href="#">
      <% if current_user.user_type.name == "Consumer" %>
	<img src="/assets/app-logo.png"></img>
      <% else %>
	<%= current_user.organisation.name %>
      <% end %>      
    </a>
  </div>
  <div id="sitewide-search">
    <%= form_tag contacts_path, :method => 'get', :id => 'search_form', :class => 'navbar-search' do %>
        <%= text_field_tag :search, params[:search], :id => 'autocomplete', :class => 'search-query', :value => "", :placeholder => "search or add here" %>
        <%# submit_tag "", :name => nil , :id => 'searchbutton' %>
    <% end %>
  </div>
  

  <div id="account-info">
    <div id="account-details">
      <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
      <% if current_user.avatar %>
        <img src="<%= current_user.avatar %>"></img>
      <% else %>
        <span class="dicon-user"></span>
      <% end %>
      <span class="menu-caret"></span>
      <span class="menu-caret outline"></span>
    </div>
    <div id="user-menu">
    </div>
  </div>
  <div id="mailbox">

  </div>
</div>

<div id="container">
  <%= yield %>
</div>

<div class="lightbox-backdrop"></div>

<div id="site-loading-backdrop">
  <div id="site-loading">
    <img class="logo" src="/assets/app-logo.png"></img>
    <img class="loading" src="/assets/site-loading.gif"></img>
  </div>  
</div>

<div id="loading-backdrop">
  <div id="temp-loading">
    <h3>Loading...</h3>
    <img class="loading" src="/assets/site-loading.gif"></img>
  </div>  
</div>

<div id="global-flashes">
<div id="flash-left"></div>
<div id="flash-middle">
  <div id="flash-content"></div>
</div>
<div id="flash-right">
  <span class="dicon-cancel"></span>
</div>

</div>

</body>
</html>
