<!DOCTYPE html>
<html>
<head>
  <title>Onelement</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBu7u-XoCXlVzWJoQYJIUCmdfhZXXMqwIQ&sensor=true"></script>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div id="logo-placeholder">
    <a class="brand" href="/">
      <% if current_user.user_type.name == "Consumer" %>
	Ripple
      <% else %>
	<%= current_user.organisation.name %>
      <% end %>      
    </a>
  </div>
  <div id="sitewide-search">
    <%= form_tag contacts_path, :method => 'get', :id => 'search_form', :class => 'navbar-search' do %>
        <%= text_field_tag :search, params[:search], :id => 'autocomplete', :class => 'search-query', value: "", placeholder: "What would you like to see today?" %>
        <%# submit_tag "", :name => nil , :id => 'searchbutton' %>
    <% end %>
  </div>
  <div id="top-navigation">
    <ul class="nav">
      <li>
	<% if can? :read, Organisation %>
	  <%= link_to 'Organisations', organisations_path %>
	<% end %>
      </li>
      <li>
	<% if can? :create, Entity %>
	  <%= link_to 'Entities', entities_path %>
	<% end %>
      </li>
      <li>
	<% if current_user.user_type.name == "Consumer" %>
	<% else %>
	  <% if can? :read, User %>
	    <%= link_to 'Manage Users', user_index_path %>
	  <% end %>
	<% end %>	
      </li>
    </ul>
  </div>

  <div id="account-info">
    <ul class="nav pull-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
        <img src="http://graph.facebook.com/586481549/picture?size=square"></img>
        <span class="menu-caret"></span>
        <span class="dicon-arrow-down"></span>
      </a>
    </li>
    </ul>
    <div id="user-menu">
      <%= link_to 'Profile', user_path(current_user.id) %>
      <%= link_to('Log out', destroy_user_session_path, :method => :delete) %>
    </div>
  </div>
  <div id="mailbox">

  </div>
</div>

<div id="container">
  <%= yield %>
</div>

<div class="lightbox-backdrop"></div>

</body>
</html>
