<!DOCTYPE html>
<html>
<head>
  <title>Onelement</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body class="main-application">

<div id="sign-container">
  <div id="sign-logo">
    <h1>Logo Will go Here</h1>
  </div>
  <div id="sign-content">
    <%= yield %>
  </div>
</div>

</body>
</html>
