<%= @policy.product_id  %>
<%= @product.name %>

<%= @product.sections.name %>



<%= form_for(@policy) do |f| %>
    <% if @policy.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@policy.errors.count, "error") %> prohibited this policy from being saved:</h2>
                <ul>
                    <% @policy.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
        </div>
    <% end %>
    <%= f.hidden_field :product_id, :value => params[:product_id] %>
    <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
    </div>

    <%= f.fields_for :policy_sections do |ps| %>
        <div class="fields">

            <%= ps.hidden_field :section_id %>

                <%= ps.fields_for :question_answers do |qa| %>
                    <%= qa.hidden_field :question_id %>
                    <%= qa.label :name %>
                    <%= qa.text_field :name %>
                <% end %>

        </div>
    <% end %>


    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
